<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/page.css" type="text/css">
	<link rel="stylesheet" href="css/upload.css" type="text/css">
	<link rel="stylesheet" href="css/dark.css" type="text/css">
	<!-- font awesome -->
	<script src="https://kit.fontawesome.com/95ae55bd9a.js" crossorigin="anonymous"></script>
	<!-- material design -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<!-- jquery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<title>Jellyfin · PV</title>
	<style>
		.progress-wrapper {
			width:100%;
		}
		.progress-wrapper .progress {
			background-color:green;
			width:0%;
			padding:5px 0px 5px 0px;
		}
	</style>
	<script>
		function postFile() {
			var formdata = new FormData();
		
			formdata.append('file', $('#file')[0].files[0]);
		
			var request = new XMLHttpRequest();
		
			request.upload.addEventListener('progress', function (e) {
				var file1Size = $('#file')[0].files[0].size;
		
				if (e.loaded <= file1Size) {
					var percent = Math.round(e.loaded / file1Size * 100);
					$('#progress-bar-file1').width(percent + '%').html(percent + '%');
				} 
		
				if(e.loaded == e.total){
					$('#progress-bar-file1').width(100 + '%').html(100 + '%');
				}
			});   
		
			request.open('post', '/echo/html/');
			request.timeout = 45000;
			request.send(formdata);
		}
	</script>
</head>
<body>

	<div class="sidebar">
        <div class="sidebar-inner">
			<a class="sidebar-link" id="home" href="/">
				<h1 style="margin: 0">UNIPV</h1>
				<span>jellyfin</span>
			</a>
        </div>
    </div>

    <script>
        // on scroll down hide / up show sidebar-link-text on mobile
        function nav(){
            if (window.innerWidth <= 950) {
                var prevScrollpos = window.pageYOffset;
                window.onscroll = function() {
                    var currentScrollPos = window.pageYOffset;
                    if (prevScrollpos > currentScrollPos || (window.innerHeight + window.pageYOffset) >= document.body.offsetHeight-1 || currentScrollPos < 10) {
                        $(".sidebar-link-text").slideDown(300);
                        $(".sidebar").css("height", "78px");
                    } else {
                        $(".sidebar-link-text").slideUp(300);
                        $(".sidebar").css("height", "58px");
                    }
                    prevScrollpos = currentScrollPos;
                }
            } else {
                // default size
                $(".sidebar").css("height", "100%");
                $(".sidebar-link-text").show();
                window.onscroll = null;
            }
        }
        nav();
        window.onresize = function() {
            nav();
        };
    </script>


	<div class="main-container">
        <div class="main">
	
				<form action="//vespe.lkev.in/jellyfin/upload" method="POST" enctype="multipart/form-data" class="basic-form files-upload"> <!-- api tunnel -->

					<label for="file" class="drop-container" id="dropcontainer" style="grid-area: upload;">
						<span class="drop-title">Rilascia il film qui</span>
						o
						<input type="file" id="file" accept="video/*,video/x-matroska" required name="file">
					</label>
					
					<!-- check if name already exists TODO -->
					<div class="input-container" style="grid-area: title; width: 100%; align-self: end;">
						<div class="material-textfield mb-10px">
							<input placeholder="" type="text" required name="filename" autocomplete="off">
							<label>Titolo</label>
						</div>
						<div style="display: grid; grid-template-columns: 5% 95%; place-items: center; width: 100%;">
							<i class="fa-solid fa-circle-info" aria-hidden="true"></i>
							<div>
								<p class="muted" style="width: 100%;">Il titolo dev'essere <i>{titolo}</i> o <i>{titolo (anno)}</i></p>
								<p class="muted" style="width: 100%;">Esempi: <i>Interstellar</i>, <i>Interstellar (2014)</i>, ecc.</p>
							</div>
						</div>
					</div>
					<div class="input-container" style="grid-area: password; width: 100%; align-self: start;">
						<div class="material-textfield">
							<input placeholder="" type="password" required name="password">
							<label>Password</label>
						</div>
					</div>
					
					<button type="submit" class="btn filled" onclick="postFile()" style="grid-area: submit; align-self: start;">Upload</button>
				</form>

			<!-- TODO -->
				<div class="progress-wrapper">
					<div id="progress-bar-file1" class="progress"></div>
				</div>


		</div>

	</div>

	<script>
		// show filename without format on file input change 
		$("#file").change(function() {
			$("input[name=filename]").val($("#file")[0].files[0].name.replace(/\.[^/.]+$/, ""));
		});
	</script>

	<script>
		const dropContainer = document.getElementById("dropcontainer");
		const fileInput = document.getElementById("file");

		dropContainer.addEventListener("dragover", e => {
			// prevent default to allow drop
			e.preventDefault();
		}, false);

		dropContainer.addEventListener("dragenter", () => {
			dropContainer.classList.add("drag-active");
		});

		dropContainer.addEventListener("dragleave", () => {
			dropContainer.classList.remove("drag-active");
		});

		dropContainer.addEventListener("drop", e => {
			e.preventDefault();
			dropContainer.classList.remove("drag-active");
			fileInput.files = e.dataTransfer.files;
			fileInput.dispatchEvent(new Event("change"));
		});
	</script>
	
</body>
</html>