<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/page.css" type="text/css">
	<link rel="stylesheet" href="css/dark.css" type="text/css">
	<!-- font awesome -->
	<script src="https://kit.fontawesome.com/95ae55bd9a.js" crossorigin="anonymous"></script>
	<!-- material design -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<!-- jquery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<style>
		.list-elem{
			grid-template-columns: 0.5fr 1fr 2fr 1fr 50px;
		}
		@media only screen and (max-width: 950px) {
			.list-elem{
				display: grid;
				grid-template-areas: 
					'user user user user settings settings'
					'user user user user settings settings'
					'title title title title settings settings'
					'title title title title done done'
					'desc desc desc desc done done'
					'desc desc desc desc done done';
				gap: 10px;
			}
			.user{ grid-area: user; }
			.title{ grid-area: title; }
			.desc{ grid-area: desc; }
			.done{ grid-area: done; }
			.settings-container{ grid-area: settings; }
			.list-elem .user,.list-elem .title,.list-elem .desc, .list-elem .done,.list-elem .settings{
				padding: 0;
			}
			.list-elem{
				padding: 15px;
			}
		}
		.list-elem .done span{
			transform: rotate(-90deg);
			position: absolute;
			right: -25px;
			color: var(--muted);
		}
	</style>
	<title>todo · PV</title>
</head>
<body>

	<div class="sidebar">
        <div class="sidebar-inner">
			<a class="sidebar-link" id="home" href="/">
				<h1 style="margin: 0">UNIPV</h1>
				<span>todo</span>
			</a>
			<a class="sidebar-link aggiungi" onclick="$(`#add-todo select[name='user']`).val(localStorage.getItem('user')); openModal('add-todo')">
                <span class="material-symbols-outlined">
                    add
                </span>
            </a>
			<div class="sidebar-link">
				<div class="basic-form user">
					<div class="select user">
						<select class="select-text" required name="user">
							<option selected value="" style="display: none;" disabled></option>
							<option id="kev" value="kev">kev</option>
							<option id="simo" value="simo">simo</option>
							<option id="zenel" value="zenel">zenel</option>
							<option id="tezza" value="tezza">tezza</option>
							<option id="altro" value="altro">altro</option>
						</select>
						<label class="select-label">utente</label>
					</div>
				</div>
				<script>
					// on dom load set select.user value from localStorage
					if(localStorage.getItem('user')){
						$('select[name="user"]').val(localStorage.getItem('todo-user'));

					}
					// .select.user on change save to localStorage
					$('select[name="user"]').on('change', function() {
						localStorage.setItem('todo-user', $(this).val());
					});
				</script>
			</div>
        </div>
    </div>

    <script>
        // on scroll down hide / up show sidebar-link-text on mobile
        function nav(){
            if (window.innerWidth <= 950) {
                var prevScrollpos = window.pageYOffset;
                window.onscroll = function() {
                    var currentScrollPos = window.pageYOffset;
                    if (prevScrollpos > currentScrollPos || (window.innerHeight + window.pageYOffset) >= document.body.offsetHeight-1 || currentScrollPos < 10) {
                        $(".sidebar-link-text").slideDown(300);
                        $(".sidebar").css("height", "78px");
                    } else {
                        $(".sidebar-link-text").slideUp(300);
                        $(".sidebar").css("height", "58px");
                    }
                    prevScrollpos = currentScrollPos;
                }
            } else {
                // default size
                $(".sidebar").css("height", "100%");
                $(".sidebar-link-text").show();
                window.onscroll = null;
            }
        }
        nav();
        window.onresize = function() {
            nav();
        };
    </script>


	<div class="main-container">
        <div class="main" style="margin-top: 15px">

			<div class="filter-container">
				<div class="filters filter-done">
					<a class="btn outlined" onclick="filter(this)" id="filter-todo-btn">todo</a>
					<a class="btn outlined" onclick="filter(this)" id="filter-fatto-btn">fatto</a>
				</div>
				<div class="filters filter-type">
					<a class="btn outlined" onclick="filter(this)" id="filter-spesa-btn">spesa</a>
					<a class="btn outlined" onclick="filter(this)" id="filter-task-btn">task</a>
					<a class="btn outlined" onclick="filter(this)" id="filter-altro-btn">altro</a>
				</div>
			</div>

			<div class="flex-center-y" id="list">
			</div>
		</div>
	</div>

	<script>
		const lista = <%- JSON.stringify(lista) %>;
		console.log(lista);
		// print in #list
		// on dom load
		$(document).ready(() => {
			lista.forEach((item) => {
				$('#list').append(generateItemHTML(item));
			});
		});

		function generateItemHTML(item){
			var type_icon = '';
				switch(item.type){
					case 'spesa':
						type_icon = 'shopping-cart';
						break;
					case 'task':
						type_icon = 'list-check';
						break;
					case 'altro':
					default:
						type_icon = 'ellipsis-h';
						break;
			}
			return `<div class="list-elem" id="${item.id}" data-done="${item.doneby ? "1" : "0"}" data-type="${item.type}">
						<div class="user"><i class="fa-solid fa-user"></i> ${item.foruser}</div>
						<div class="title"><i class="fas fa-${type_icon}"></i> ${item.title}</div>
						<div class="desc">${item.description}</div>
						<div class="done" id="done-${item.id}-container" onclick="done(${item.id})">
							<a class="btn circle"><i class="fas fa-${item.doneby ? 'check' : 'times'}"></i></a><span>${item.doneby ? item.doneby : ''}</span>
						</div>
						<div class="settings-container">
										<div class="dropdown">
											<input type="checkbox" id="dropdown-${item.id}">
										
											<label class="dropdown__face" for="dropdown-${item.id}">
												<div class="dropdown__text"><i class="fa-solid fa-gear"></i></div>
											</label>
										
											<ul class="dropdown__items">
												<li onclick="edit(${item.id})"><i class="fa-solid fa-pen-to-square"></i></li>
												<li onclick="del(${item.id})"><i class="fa-solid fa-trash"></i></li>
											</ul>
										</div>
										
										<svg>
											<filter id="goo">
											<feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
											<feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
											<feBlend in="SourceGraphic" in2="goo" />
											</filter>
										</svg>
						</div>
					</div>
				`;
		}

		function filter(e){
			var elems = [];
			lista.forEach((item) => {
				// get elems from generateItemHTML converted to jQuery object
				elems.push($(generateItemHTML(item)));	
			});
			// set active class
			if(e){
				$(e).siblings().removeClass('filled').addClass('outlined');
				$(e).toggleClass('outlined').toggleClass('filled');
			}
			var done = $('.filter-done .filled').html();
			var type = $('.filter-type .filled').html();
			// save in localStorage
			localStorage.setItem('todo-filter-done', done);
			localStorage.setItem('todo-filter-type', type);
			console.log(done, type);
			// filter
			// remove elements from elems that don't match the filter
			elems = elems.filter(elem => {
				if (done) {
					if (done === 'todo') {
						// Keep the element if it's not marked as done
						return elem.data('done') !== 1;
					} else if (done === 'fatto') {
						// Keep the element if it's marked as done
						return elem.data('done') !== 0;
					}
				}
				return true; // If `done` is not specified, keep all elements
			});
			elems = elems.filter(elem => {
				if (type) {
					// Keep the element if it matches the type
					return elem.data('type') === type;
				}
				return true; // If `type` is not specified, keep all elements
			});
			// empty #list
			$('#list').empty();
			// append elems to #list
			elems.forEach((elem) => {
				$('#list').append(elem);
			});

		}

		$(document).ready(() => {
			$(`#filter-${localStorage.getItem('todo-filter-done')}-btn`).removeClass('outlined').addClass('filled');
			$(`#filter-${localStorage.getItem('todo-filter-type')}-btn`).removeClass('outlined').addClass('filled');
			filter();
		});
	</script>

	<script>
		// listener if a checkbox is checked, uncheck all others
		$(document).on('change', 'input[type="checkbox"]', function() {
			$('input[type="checkbox"]').not(this).prop('checked', false);
		});
		// on any click outside the dropdown, uncheck all
		$(document).on('click', function(e) {
			if (!$(e.target).closest('.dropdown').length) {
				$('input[type="checkbox"]').prop('checked', false);
			}
		});

		function edit(id){
			// uncheck
			$(`#dropdown-${id}`).prop('checked', false);
			// get data from backend /api/todo/get/:id
			$.ajax({
				url: `/api/todo/get/${id}`,
				type: 'GET',
				success: function(data) {
					// fill form
					// form action /api/todo/update/:id
					$('#edit-todo form').attr('action', `/api/todo/update/${id}`);
					$('#edit-todo select[name="type"]').val(data.type);
					$('#edit-todo input[name="title"]').val(data.title);
					$('#edit-todo input[name="description"]').val(data.description);
					$('#edit-todo select[name="user"]').val(data.foruser);
					// open modal
					openModal('edit-todo');
				}
			});
		}

		function del(id){
			// send to backend /api/todo/del/:id
			$.ajax({
				url: `/api/todo/delete/${id}`,
				type: 'GET',
				success: function(data) {
					// remove element
					$(`#${id}`).remove();
				}
			});
		}

		function done(id){

			// if is not done
			if($(`#${id} .done i`).hasClass('fa-times')){
				// uncheck
				$(`#dropdown-${id}`).prop('checked', false);
				// get data from backend /api/todo/get/:id
				$('#done-todo form').attr('action', `/api/todo/doneby/${id}`);
				$('#done-todo #title').html($(`#${id} .title`).html());
				$('#done-todo select[name="doneby"]').val(localStorage.getItem('user'));
				// open modal
				openModal('done-todo');
			}else{
				// set icon to loading
				var btn = document.getElementById(`done-${id}-container`);
				var width = window.getComputedStyle(btn).getPropertyValue('width');
				var height = window.getComputedStyle(btn).getPropertyValue('height');
				btn.style.width = width;
				btn.style.height = height;
				btn.innerHTML = "<div class='submit-lds-grid'><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>";
				// send to backend /api/todo/undone/:id
				$.ajax({
					url: `/api/todo/undone/${id}`,
					type: 'GET',
					success: function(data) {
						// remove check
						$(`#${id} .done`).html(`<a class="btn circle"><i class="fas fa-times"></i></a>`);
						// set width and height back
						btn.style.width = '';
						btn.style.height = '';
					}
				});
			}
		}
	</script>



	<!-- modal -->
	<script>
		function closeModal(id) {
			document.getElementById(id).style.display = "none";
		}
		function openModal(id) {
			document.getElementById(id).style.display = "flex";
		}
	</script>
	<div id="add-todo" class="modal">
		<div class="modal-inner">
			<span class="btn text modal-close" onclick="closeModal('add-todo')">&times;</span>
			<div class="modal-inner-spacing">
				<h2>aggiungi</h2>
				<form method="POST" action="/api/todo/add" class="basic-form">
					<div class="input-container">
						<div class="two-inputs-container">
							<div class="select">
								<select class="select-text" required name="type">
									<option selected id="spesa" value="spesa">spesa</option>
									<option id="task" value="task">task</option>
									<option id="altro" value="altro">altro</option>
								</select>
								<label class="select-label">tipo</label>
							</div>
							<div class="material-textfield">
								<input placeholder="" type="text" required name="title" autocomplete="off">
								<label>titolo</label>
							</div>
						</div>
					</div>
					<div class="input-container">
						<div class="material-textfield">
							<input placeholder="" type="text" name="description" autocomplete="off">
							<label>descrizione</label>
						</div>
					</div>
					<div class="input-container">
						<!-- user temp / add login and accounts -->
						<div class="select">
							<select class="select-text" required name="user">
								<option selected value="" style="display: none;" disabled></option>
								<option id="kev" value="kev">kev</option>
								<option id="simo" value="simo">simo</option>
								<option id="zenel" value="zenel">zenel</option>
								<option id="tezza" value="tezza">tezza</option>
								<option id="tutti" value="tutti">tutti</option>
								<option id="altro" value="altro">altro</option>
							</select>
							<label class="select-label">per</label>
						</div>
                    </div>
					<button type="submit" class="btn filled submit-btn">aggiungi</button>
				</form>
			</div>
		</div>
	</div>

	<div id="edit-todo" class="modal">
		<div class="modal-inner">
			<span class="btn text modal-close" onclick="closeModal('edit-todo')">&times;</span>
			<div class="modal-inner-spacing">
				<h2>modifica</h2>
				<form method="POST" action="/api/todo/update/:id" class="basic-form">
					<div class="input-container">
						<div class="two-inputs-container">
							<div class="select">
								<select class="select-text" required name="type">
									<option selected value="" style="display: none;" disabled></option>
									<option id="spesa" value="spesa">spesa</option>
									<option id="task" value="task">task</option>
									<option id="altro" value="altro">altro</option>
								</select>
								<label class="select-label">tipo</label>
							</div>
							<div class="material-textfield">
								<input placeholder="" type="text" required name="title">
								<label>titolo</label>
							</div>
						</div>
					</div>
					<div class="input-container">
						<div class="material-textfield">
							<input placeholder="" type="text" name="description">
							<label>descrizione</label>
						</div>
					</div>
					<div class="select">
						<select class="select-text" required name="user">
							<option selected value="" style="display: none;" disabled></option>
							<option id="kev" value="kev">kev</option>
							<option id="simo" value="simo">simo</option>
							<option id="zenel" value="zenel">zenel</option>
							<option id="tezza" value="tezza">tezza</option>
							<option id="tutti" value="tutti">tutti</option>
							<option id="altro" value="altro">altro</option>
						</select>
						<label class="select-label">per</label>
					</div>
					<button type="submit" class="btn filled submit-btn">aggiorna</button>
				</form>
			</div>
		</div>
	</div>

	<div id="done-todo" class="modal">
		<div class="modal-inner">
			<span class="btn text modal-close" onclick="closeModal('done-todo')">&times;</span>
			<div class="modal-inner-spacing">
				<h2><span id="title"></span> completato da:</h2>
				<form method="POST" action="/api/todo/doneby/:id" class="basic-form">
					<div class="select">
						<select class="select-text" required name="doneby">
							<option selected value="" style="display: none;" disabled></option>
							<option id="kev" value="kev">kev</option>
							<option id="simo" value="simo">simo</option>
							<option id="zenel" value="zenel">zenel</option>
							<option id="tezza" value="tezza">tezza</option>
							<option id="altro" value="altro">altro</option>
						</select>
						<label class="select-label">fatto da</label>
					</div>
					<button type="submit" class="btn filled submit-btn">completato</button>
				</form>
			</div>
		</div>
	</div>

	<script>
		// on click esc close modal
		$(document).keyup(function(e) {
			if (e.key === "Escape") {
				$('.modal').css('display', 'none');
			}
		});
	</script>

	<script src="/js/submit-loading.js"></script>
</body>
</html>